<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Stocks</h1>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Name</th>
      <th class="text-right">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.ticker %></td>
        <td><%= stock.name %></td>
        <td class="text-right"><%= number_to_currency(stock.price) %></td>
        <td><%= link_to 'Show', stock, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', stock, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
  </table>
  <%= link_to 'New Stock', new_stock_path, class: "btn btn-success" %>
</div>
