<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<tr class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.ticker %></td>
        <td><%= stock.name %></td>
        <td><%= number_to_currency(stock.price) %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
<!--
    <% @stocks.each do |stock| %>
        <div class="row">
          <div class="col-md-6"><%= stock.ticker %></div>
          <div class="col-md-6"><%= stock.name %></div>
          <div class="col-md-6 text-xs-right"><%= number_to_currency(stock.price) %></div>
          <div class="col-md-6"><%= link_to 'Show', stock %></div>
          <div class="col-md-6"><%= link_to 'Edit', edit_stock_path(stock) %></div>
          <div class="col-md-6"><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
    <% end %>
-->
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Stock', new_stock_path %>

