<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1><%= @stock.name %></h1>
  <hr>
  <p>
    <strong>Ticker:</strong>
    <%= @stock.ticker %>
  </p>
  <hr>
  <p>
    <div class='btn-group'>
      <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-warning' %>
      <%= link_to 'List Stocks', stocks_path, class: 'btn btn-info' %>
    </div>
  </p>
</div>

<p>
  <strong>Latest Price:</strong>
  <%= number_to_currency(@stock.price) %>
</p>
